.tool-bar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: white;
}

.logo {
    color: aqua;
    // cursor: pointer,
}

.link {
    color: white;
}
